.player-panel-r,
.player-view-wrapper,
.player-view {
  width: 100% !important;
  height: 100vh !important;
  width: 100vw;
  padding-bottom: 50px !important;
  padding-top: 0px !important;
  position: fixed;
}

/* When transcript is visible, adjust video container width */
body:has(.transcript-wrapper:not(.transcript-hidden)) .player-panel-r,
body:has(.transcript-wrapper:not(.transcript-hidden)) .player-view-wrapper,
body:has(.transcript-wrapper:not(.transcript-hidden)) .player-view {
  width: 100vw !important;
}

.highlights-control-wrapper,
header.rec-header-container {
  display: none !important;
}

.transcript-wrapper {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 20vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  overflow-y: auto !important;
  background-color: rgba(246, 243, 243, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  display: block !important;
  opacity: 0.0 !important;
  transition: transform 1.0s ease-in-out !important;
}

.transcript-wrapper:hover {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.transcript-wrapper.transcript-hidden {
  display: none !important;
}

.video-player {
  background-color: rgb(0, 0, 0);
  width: 100% !important;
  position: relative !important;
  z-index: 1 !important;
}

/* When transcript is visible, make video player 80vw */
body:has(.transcript-wrapper:not(.transcript-hidden)) .video-player {
  width: 80vw !important;
}

video#vjs_video_3_html5_api {
  background-color: rgb(0, 0, 0);
  position: fixed;
  border-radius: 0px;
  width: 100vw !important;
}

/* When transcript is visible, make video element 80vw */
body:has(.transcript-wrapper:not(.transcript-hidden)) video#vjs_video_3_html5_api {
  width: 100vw !important;
}

.highlights {
  background-color: transparent !important;
}

.audio-transcript .transcript-container .transcript-list-item.ts-current .text {
  background-color: rgb(206, 197, 27) !important;
}